@CHARSET "UTF-8";
#searchForm {
	margin-top: 0px;
}
#inputDiv {
    float:left;
    height:42px;
    width: 525px; 
    border-radius: 0px;
        border: 1px solid #cccccc;
}
#appendedInputButton{
	width: 527px;
    border-radius: 0px;
    padding-top: 5px;
    padding-right: 9px;
    padding-bottom: 0px;
    padding-left: 16px;
    font: 16px arial,sans-serif;
    line-height: 36px;
    height: 41px !important;
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    border:0px;
}
#buttonDiv {
	float:left;
	width:105px;
	height:44px;
    border-radius: 0px;
}
#buttonInput {
	width:105px;
	height:44px;
    border-radius: 0px;
    background: #3385ff;
    font-size: 16px;
}
#searchForm{
	height: 44px;
    width: 632px;
}